<p>restaurant works!</p>
<!-- Header -->
<section class="header-container">
  <!-- Background image -->
  <img class="header-image-background" src="assets/images/Header-Turism.jpg" alt="">
  <div class="gradient"></div>

  <!-- Header content -->
  <div class="container header-content">
    <div class="header-logo">
      <img src="assets/images/Logo Ginivisa.png" alt="">
    </div>
    <!-- Header Title -->
    <div class="header-title">
      <h1 class="blue">Ginivișa Gorjului</h1>
      <h2 class="green">Gustul copilariei!</h2>
    </div>
  </div>
</section>
<!-- SuperOferta -->
<div class="container">



  <!-- Region Description -->
  <section>
    <h5 class="green">De ce să sa alegi restaurantul nostru?</h5>
    <p>
      Complexul Ginivisa dispune de un restaurant elegant și confortabil, care îți oferă o experiență culinară de
      neuitat. Indiferent dacă te cazezi în una dintre pensiunile noastre sau organizezi un eveniment special, precum
      botezul, cununia civilă sau ziua onomastică, îți stă la dispoziție pentru a-ți satisface pofta de mâncare și
      pentru a-ți oferi un cadru intim și elegant.
    </p>
    <p>
      Restaurantul nostru este perfect pentru a servi masa într-un cadru elegant și rafinat. Este alcătuit din două
      saloane elegante, care îți oferă posibilitatea să te bucuri de o experiență culinară deosebită alături de prieteni
      și familie. Indiferent dacă organizezi o întâlnire de afaceri sau o cină romantică, restaurantul nostru este locul
      ideal pentru a-ți satisface pofta de mâncare și a petrece momente deosebite alături de cei dragi.
    </p>
  </section>

  <section>
    <h5 class="green">Ești curios să descoperi ce preparate culinare îți oferim?</h5>
    <p>
        Accesează  <a href="/assets/Meniu Han.pdf" target="blank">meniul</a> nostru online și lasă-te tentat de deliciile pregătite cu grijă de bucătarii noștri. Dacă nu ai găsit preparatele preferate sau ai nevoie de o sugestie personalizată, sună-ne și vom fi bucuroși să te ajutăm.

        Dacă planifici un eveniment restrâns, nu ezita să ne contactezi pentru a-ți personaliza meniul. Suntem mereu pregătiți să fim alături de tine în organizarea unui eveniment memorabil, 
    </p>
  </section>
  <section class="rezerva">
    <!-- <a [href]="linkFacebookHan" target="blank"><button mdbBtn color="fb" class="waves-light facebook-btn" mdbWavesEffect>Facebook</button></a> -->
    <a href="/assets/Meniu Han.pdf" target="blank"><button mdbBtn color="fb" class="waves-light booking-btn" mdbWavesEffect>Meniu</button></a>
    <!-- <a [href]="linkBookingHan" target="blank"><button mdbBtn color="fb" class="waves-light booking-btn" mdbWavesEffect>Booking</button></a> -->
  </section>
  <app-swiper-gallery-restaurant></app-swiper-gallery-restaurant>
  
  <!-- <app-swiper-gallery-fructe></app-swiper-gallery-fructe> -->
  <!-- <section class="flex-container fructe-turims">
    <div class="flex-item">
        <img src="assets/images/Turism/Home/salon2.jpg" alt="Salon 2" class="salon">
    </div>
    <div class="flex-item">
      <img src="assets/images/Turism/Home/salon1.jpg" alt="Salon 1" class="salon">
    </div>
  </section> -->
</div>
<br>
